
body{

margin:0;
background:black;
color:white;
font-family:Georgia,serif;

background-image:url("../images/chapitre1-fond.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;

}

.intro{

width:70%;
margin:auto;

padding-top:120px;

text-align:center;

}

h1{

font-size:60px;

letter-spacing:8px;

}

h2{

font-size:32px;

margin-bottom:50px;

}

p{

font-size:26px;

line-height:2;

animation:fadeIn 2s ease;

}

@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}

}
